[Unit]
Description=Kalpana Control Daemon Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=zapman
ExecStart=/home/zapman/kalpanad/exec.sh

[Install]
WantedBy=multi-user.target
